lunar-basecamp/force-app/main/default/flows/Pre_Expedition_Safety_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Compliance_Failure_Email</name>
        <label>Send Compliance Failure Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Coordinator.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Failure_Details</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Status_Changed_To_Confirmed</name>
        <label>Status Changed To Confirmed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirmed_On_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Coordinator</targetReference>
            </connector>
            <label>Confirmed On Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_Compliance_Checks_Passed</name>
        <label>All Compliance Checks Passed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Booking_Blocked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Compliance Failed</defaultConnectorLabel>
        <rules>
            <name>All_Clear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Basic_EVA.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Crater_Navigation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Solar_Radiation_Protocol.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Explorer.Medical_Clearance_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Ninety_Days_Ago</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Booking_Cleared</targetReference>
            </connector>
            <label>All Clear</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Ninety_Days_Ago</name>
        <dataType>Date</dataType>
        <expression>$Flow.CurrentDate - 90</expression>
    </formulas>
    <formulas>
        <name>Email_Subject</name>
        <dataType>String</dataType>
        <expression>"Pre-Expedition Safety Check Failed: " &amp; {!$Record.Expedition_Name__c}</expression>
    </formulas>
    <formulas>
        <name>Failure_Details</name>
        <dataType>String</dataType>
        <expression>"Expedition: " &amp; {!$Record.Expedition_Name__c} &amp; BR() &amp;
"Explorer: " &amp; {!Get_Explorer.Full_Name__c} &amp; BR() &amp;
"Compliance check failed for the following reasons:" &amp; BR() &amp;
IF(ISBLANK({!Get_Basic_EVA.Id}), " - Basic EVA certification is missing or expired." &amp; BR(), "") &amp;
IF(ISBLANK({!Get_Crater_Navigation.Id}), " - Crater Navigation certification is missing or expired." &amp; BR(), "") &amp;
IF(ISBLANK({!Get_Solar_Radiation_Protocol.Id}), " - Solar Radiation Protocol certification is missing or expired." &amp; BR(), "") &amp;
IF({!Get_Explorer.Medical_Clearance_Date__c} &lt; {!Ninety_Days_Ago}, " - Medical clearance date is older than 90 days." &amp; BR(), "")</expression>
    </formulas>
    <interviewLabel>Pre Expedition Safety Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pre Expedition Safety Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Gear_Assignment_Task</name>
        <label>Create Gear Assignment Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Assign Gear for Confirmed Expedition</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Expedition cleared. Assign required gear based on expedition plan.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Coordinator</name>
        <label>Get Coordinator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Explorer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Explorer</name>
        <label>Get Explorer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Basic_EVA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Explorer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lunar_Explorer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Basic_EVA</name>
        <label>Get Basic EVA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Crater_Navigation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Explorer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Explorer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Certification_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Basic EVA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Safety_Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Crater_Navigation</name>
        <label>Get Crater Navigation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Solar_Radiation_Protocol</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Explorer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Explorer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Certification_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crater Navigation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Safety_Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Solar_Radiation_Protocol</name>
        <label>Get Solar Radiation Protocol</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Compliance_Checks_Passed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Explorer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Explorer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Certification_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Solar Radiation Protocol</stringValue>
            </value>
        </filters>
        <filters>
            <field>Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Safety_Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Booking_Blocked</name>
        <label>Update Booking Blocked</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Compliance_Failure_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Compliance_Status__c</field>
            <value>
                <stringValue>Blocked</stringValue>
            </value>
        </inputAssignments>
        <object>Expedition_Booking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Booking_Cleared</name>
        <label>Update Booking Cleared</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Gear_Assignment_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Compliance_Status__c</field>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </inputAssignments>
        <object>Expedition_Booking__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Changed_To_Confirmed</targetReference>
        </connector>
        <object>Expedition_Booking__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
